<div id="{{prefix}}Container">

    <h4><a href="#" onclick="{{plugin}}.confirmStep('Select-Portals')">1. Select Portals</a></h4>
    <div id="{{prefix}}-Select-Portals-Container">
        <label>
            Selection Mode:
            <select onchange="{{plugin}}.switchMode(this.value)">
                {{#each selectOptions}}
                    <option value="{{@key}}">{{this}}</option>
                {{/each}}
            </select>
        </label>

        <hr>
        <button onclick="{{plugin}}.confirmStep('Select-Fields')" style="float: right">Confirm</button>
    </div>

    <h4>2. Select Fields</h4>
    <div class="hidden" id="{{prefix}}-Select-Fields-Container">
        Export Fields:
        {{#each fieldOptions}}
            <label>
                {{this}}
                <input type="checkbox" value="{{@key}}" name="chkFields"
                    {{#if_eq @key 'guid'}}
                       onclick="return false;" checked="checked"
                    {{/if_eq}}
                />
            </label>
        {{/each}}

        <hr>
        <button onclick="{{plugin}}.confirmStep('Select-Format')" style="float: right">Confirm</button>

    </div>

    <h4>3. Select Format</h4>
    <div class="hidden" id="{{prefix}}-Select-Format-Container">
        <label>
            Format:
            <select onchange="{{plugin}}.switchFormat(this.value)">
                {{#each formatOptions}}
                    <option value="{{@key}}">{{this}}</option>
                {{/each}}
            </select>
        </label>

        <hr>
        <button onclick="{{plugin}}.confirmStep('Output');{{plugin}}.doExport()" style="float: right">Export</button>

        <div id="{{prefix}}Status"></div>
    </div>

    <h4>Output</h4>
    <div class="hidden" id="{{prefix}}-Output-Container">
        <label>
            Output
            <textarea id="{{prefix}}Output" cols="80" rows="20" style="width: 100%; white-space: nowrap;"></textarea>
        </label>
    </div>

</div>
