<div id="{{prefix}}Container">
    <label>
        Selection Mode:
        <select onchange="{{plugin}}.switchMode(this.value)">
            {{#each selectOptions}}
                <option value="{{@key}}">{{this}}</option>
            {{/each}}
        </select>
    </label>

    <label>
        Format:
        <select onchange="{{plugin}}.switchFormat(this.value)">
            {{#each formatOptions}}
                <option value="{{key}}">{{value}}</option>
            {{/each}}
        </select>
    </label>

    <br>

    <button onclick="{{plugin}}.doExport()">Export</button>

    <div id="{{prefix}}Status"></div>

    <br>

    <label>
        Output
        <textarea id="{{prefix}}Output" cols="80" rows="5" style="width: 100%; white-space: nowrap;"></textarea>
    </label>

</div>
